page-login {
  .scroll-content {
    overflow: hidden;
  }

  .scroll-bar-indicator {
    display: none;
  }
  .card {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    // width: 50%;
    // background-color: rgba(0, 0, 0, 0.8);
  }

  .log {
    width: 50%;
    height: auto;
    margin: auto;
  }

  .signinTitle {
    // color: #fff;
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 28px;
  }
  .item {
    background-color: transparent;
  }
  .input {
    border-bottom: solid 1px;
    border-color: #e71d36;
    color: black;
    // margin: 20px;
  }
}
