<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button padding-right margin-right clear icon-only (click)="gtNoti($event)">
        <ion-icon name="md-notifications"></ion-icon>
      </button>
      <button ion-button padding-right margin-right clear icon-only (click)="gtSettings()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6 col-12>
        <ion-item no-lines class="content">
          <h1 class="title">SALES</h1>
        </ion-item>
      </ion-col>
      <ion-col col-md-6 col-12>
        <ion-searchbar item-end animated="true" placeholder="Search a Product" [(ngModel)]="searchbar"
          (ionInput)="getItems(searchbar)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-navbar color="primary">
      <ion-row text-left>
        <ion-col col-12 col-md-2>
          <ion-title>Product Name</ion-title>
        </ion-col>
        <ion-col col-12 col-md-2>
          <ion-title>Category</ion-title>
        </ion-col>
        <ion-col col-12 col-md-1>
          <ion-title>Quantity</ion-title>
        </ion-col>
        <ion-col col-12 col-md-2>
          <ion-title>Status</ion-title>
        </ion-col>
        <ion-col col-12 col-md-1>
          <ion-title>Sales</ion-title>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-grid>
  <!-- text-left *ngIf="prods.length" -->
  <ion-card *ngFor="let p of prods">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-2>
            {{p.Name}}
          </ion-col>
          <ion-col col-12 col-md-2>
            {{p.Category}}
          </ion-col>
          <ion-col col-12 col-md-1>
            {{p.Quantity}}
          </ion-col>
          <ion-col col-12 col-md-2>
            {{p.Status}}
          </ion-col>
          <ion-col col-12 col-md-1>
            {{p.Sales}}
          </ion-col>
          <ion-col col-12 col-md-2>
            <a [href]="p.ImageUrl" target="_blank">
              <button ion-button icon-only clear>
                <ion-icon name="ios-image"></ion-icon>
              </button>
            </a>
          </ion-col>
          <ion-col col-12 col-md-1>
            <button ion-button clear (click)="sellConfirm(p)">Sell</button><br />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>