<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button padding-right margin-right clear icon-only (click)="gtNoti($event)">
        <ion-icon name="md-notifications"></ion-icon>
      </button>
      <button ion-button padding-right margin-right clear icon-only (click)="gtSettings()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines class="content">
    <h1 class="title">DASHBOARD</h1>
  </ion-item>

  <ion-grid>
    <ion-row>

      <ion-col col-md-2 col-6>
        <ion-card>
          <ion-card-content>
            <p class="mNum">{{prods.length}}</p>
            <p class="mText">Products</p>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col col-md-2 col-6>
        <ion-card>
          <ion-card-content>
            <p class="mNum">{{pendOrdersTot}}</p>
            <p class="mText">Pending Orders</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>


      <ion-col col-md-6 col-12>
        <ion-card>
          <ion-card-header color="primary">
            Sales Chart
          </ion-card-header>
          <ion-card-content *ngIf="dataArray.length">
            <canvas #doughnutCanvas></canvas>
          </ion-card-content>
          <ion-card-content *ngIf="!dataArray.length">
            No Data Available
          </ion-card-content>
        </ion-card>
      </ion-col>



      <ion-col col-md-6 col-12>
        <ion-card>
          <ion-card-content>
            <ion-card-title color="primary">Top 5 Selling Products</ion-card-title>

            <div *ngIf="dataArray.length">
              <ion-item *ngFor="let p of prods ;let i=index; ">
                <h3 item-start *ngIf="i<5">{{i+1}}.{{p.Name }}</h3>
                <h2 item-end ion-text *ngIf="i<5" color="primary">{{p.Sales}}</h2>
              </ion-item>
            </div>
            <ion-item *ngIf="!dataArray.length">
              No Data Available
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>




    </ion-row>
  </ion-grid>


</ion-content>