page-add-product {
ion-select,ion-input,ion-textarea{
    border-bottom: 1px solid map-get($colors, primary);
}
.card{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 60%;
}
.selects {
    background-color: #e71d36;
    margin-top: 3%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 3%;
  }
  
   #file-input {
    position: absolute;
    width: 100%;
    height: 100%;

  }
  
  
   .editBtns {
    position: absolute;
    top: 5%;
    right: 5%;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
  }
  
   .item:hover .imgView {
    opacity: 0.3;
  }
  
   .item:hover .editBtns {
    opacity: 1;
  }
  .imgView{
    width: 40%;
    margin: auto;
  }
}
